<template>
  <div class="container">
    <h2>Login</h2>

    <form @submit.prevent="onLogin" ref="loginForm" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" v-model="email" required>
        <div class="invalid-feedback">
          Please enter a valid email address
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" v-model="password" required>
        <div class="invalid-feedback">
          Please enter a password
        </div>
      </div>

      <button type="submit" class="btn btn-primary pt-2">Login</button>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Login extends Vue {
  private email = '';
  private password = '';

  async onLogin() {
    (this.$refs.loginForm as Element).classList.add('was-validated');
    if (!this.email || !this.password) {
      return;
    }
    const success = await this.$http.login(this.email, this.password);
    if (success) {
      this.$router.push({ name: 'games' });
    } else {
      console.log('INVALID CREDENTIALS');
    }
  }
}
</script>
