<template>
  <div>Hi</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { TileSet } from '@/models/tile-set';

@Component
export default class Grid extends Vue {
  @Prop() board!: TileSet[]
}
</script>
